<h1>Handlebars</h1>
<P>Nome do usuário é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos.</P>
<p>{{word}}</p>

{{#if auth}}
    <p>Você está autenticado, <a href="/dashboard">clique aqui para acessar área</a></p>
{{/if}}